# App
NEXT_PUBLIC_APP_URL=

# Prisma
DATABASE_URL=

# Auth
AUTH_SESSION_COOKIE_NAME=
AUTH_SESSION_MAX_AGE_SECONDS=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Naver OAuth
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=