# App
WEB_APP_URL="http://localhost:3000"
ADMIN_APP_URL="http://localhost:3001"

# Prisma
DATABASE_URL="postgresql://postgres@localhost:5432/boilerplate_turborepo_test"
DIRECT_URL="postgresql://postgres@localhost:5432/boilerplate_turborepo_test"

# Auth
AUTH_SESSION_COOKIE_NAME="boilerplate_session"
AUTH_SESSION_MAX_AGE_SECONDS=2592000

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Naver OAuth
NAVER_CLIENT_ID=""
NAVER_CLIENT_SECRET=""

# Kakao OAuth
KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""