node_modules
.turbo

.next
out
dist
build
coverage

playwright-report
test-results
apps/*/playwright-report
apps/*/test-results
apps/*/e2e/.auth

storybook-static
.vercel

*.log
.env
.env.*
!.env.example
!.env.test.example
!.env.e2e.example

pnpm-lock.yaml